<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="30">

  <properties>
    <property name="log_file">logs/$${date:yyyy-dd-MM-ss}-docking.log</property>
    <property name="msg_layout">%d{HH:mm:ss SSS} [%-5level] [%-10t] %logger{1} - %m%n%ex</property>
  </properties>

  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${msg_layout}" />
    </Console>

    <RollingFile name="File" fileName="${log_file}" filePattern="${log_file}.%i">
      <PatternLayout pattern="${msg_layout}" />
      <SizeBasedTriggeringPolicy size="500 MB" />
    </RollingFile>

    <Async name="all-appenders">
      <appender-ref ref="File" />
      <appender-ref ref="Console" />
    </Async>
  </appenders>

  <loggers>
    <root level="info">
      <appender-ref ref="all-appenders" />
    </root>
  </loggers>
</configuration>